NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_JUPITER_API_KEY=
NEXT_PUBLIC_ORCHESTRATOR_URL=/api
NEXT_PUBLIC_ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com
NEXT_PUBLIC_BSC_RPC_URL=
NEXT_PUBLIC_BASE_RPC_URL=
NEXT_PUBLIC_ARBITRUM_RPC_URL=
NEXT_PUBLIC_OPTIMISM_RPC_URL=
NEXT_PUBLIC_POLYGON_RPC_URL=
NEXT_PUBLIC_AVALANCHE_RPC_URL=
NEXT_PUBLIC_LINEA_RPC_URL=
NEXT_PUBLIC_HYPEREVM_RPC_URL=
NEXT_PUBLIC_MONAD_RPC_URL=
